@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montserrat&family=Poppins:wght@500&family=Sora:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #ffffff;
  position: fixed;
  background: radial-gradient(
    circle,
    rgba(129, 51, 227, 1) 0%,
    rgba(106, 10, 172, 1) 0%,
    rgba(14, 12, 12, 1) 29%,
    rgba(0, 0, 0, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.centered-div {
  max-width: 100%;
  width: 100%;
  height: 100%;

  /* border: 2px red solid; */
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  color: #ffffff;
}
/* NAVBAR */
.navbar {
  width: 100%;
  height: 6%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.nav-links {
  margin: 0 20px;
  font-size: 24px;
}

.nav-link {
  padding: 0 20px;
}
.yellow {
  color: rgb(254, 254, 78);
}

.hidden {
  visibility: hidden;
}
.logo-container {
  display: flex;
  margin: 0 20px;
  align-items: center;
}
.logo-image {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}
.logo-text {
  font-family: "IBM Plex Sans", sans-serif;
  color: white;
  font-size: 24px;
  white-space: nowrap;
}

.content {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 15%;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
}

.dealer-image {
  width: 100%;
  max-width: 128px;
  padding: 1%;
  border-radius: 99px;
}
.wager-pot {
  font-family: "Sora", sans-serif;
  font-size: 108px;
}
.totals {
  visibility: hidden;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 25%;
  right: 20%;
}
.computer-hand-total {
  margin-top: 300px;
}
.user-hand-total {
  margin-top: 300px;
}
.computer-hand-total,
.user-hand-total {
  padding: 10px;
  width: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #908a8a;
  border-radius: 99px;
  font-size: 30px;
  position: relative;
}
.deal-button {
  padding: 8px;
  border-radius: 40px;
  width: 200px;
  background-color: black;
  border: 3px solid yellow;
  margin-right: 30px;
}
.stand-button,
.hit-button {
  background-color: black;
  width: 82px;
  border-radius: 20px;
  border: 1.75px solid;
  padding: 8px;
}

.stand-button {
  color: rgb(235, 78, 78);
  margin-right: 18px;
}

.hit-button {
  color: rgb(49, 180, 49);
}

.action-buttons {
  text-align: center;
  justify-content: center;
}

.balance-amount {
  font-family: "Montserrat", sans-serif;
  line-height: 1px;
  font-size: 50px;
}

.balance-text {
  margin-bottom: -10px;
  font-size: 24px;
}

/* FOOTER */
.balance-amount {
  font-family: "Montserrat", sans-serif;
}

.balance-container {
  margin-left: 30px;
  margin-bottom: 20px;
  padding: 30px;
  width: 100px;
  margin-left: 30px;
  text-align: center;
}

.action-buttons {
  text-align: center;
  justify-content: center;
}
.stand-button,
.hit-button {
  background-color: black;
  width: 164px;
  border-radius: 50px;
  border: 2.5px solid;
  padding: 16px;
  font-size: 30px;
}

.stand-button {
  color: rgb(235, 78, 78);
}
.hit-button {
  color: rgb(49, 180, 49);
}

.icon {
  width: 28px;
  height: 28px;
  filter: brightness(100);
  margin-right: 12px;
  vertical-align: text-top;
}
.icon-money {
  width: 36px;
  height: 36px;
}
.deal-button {
  padding: 16px;
  border-radius: 40px;
  width: 200px;
  background-color: black;
  border: 3px solid yellow;
  margin-right: 30px;
  color: #fff;
  font-size: 30px;
}

.sidebar {
  height: 40%;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 20%;
  max-width: 400px;
  min-width: 100px;
  max-height: 400px;
  min-height: 100px;
  background-color: #555;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  left: 2%;
  bottom: 15%;
  position: absolute;
  visibility: visible;
}

.chip {
  width: 50%;
  height: 50%;
  border-radius: 99px;
  background-color: #4b4040;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(238, 255, 0);
}
.remove-container {
  text-align: right;
}
.remove {
  width: 24px;
  filter: invert(43%) sepia(49%) saturate(920%) hue-rotate(314deg)
    brightness(96%) contrast(99%);
}

.remove:hover {
  filter: invert(0%) sepia(0%) saturate(7439%) hue-rotate(55deg) brightness(93%)
    contrast(107%);
}
.deal-button:hover {
  background-color: rgb(98, 98, 80);
  border: 3px rgb(231, 250, 16) solid;
}
.hit-button:hover {
  background-color: rgb(98, 98, 80);
  border: solid 2px rgb(68, 255, 68);
  color: rgb(68, 255, 68);
}
.stand-button:hover {
  background-color: #393939;
  border: 2px solid rgb(255, 29, 29);
  color: rgb(255, 0, 38);
}
.chip:hover {
  background-color: gray;
}
